
:host {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

.actions {
    max-width: 200px;
    width: 200px;
}

.filter {
    padding: 20px;
}

.filter > mat-form-field {
    width: 100%;
}

.users {
    flex-grow: 1;
    overflow: auto;    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
}