<div class="header">
  <div class="header-content">
    <h1>Prestations de

      <mat-select [(ngModel)]="user" (ngModelChange)="onUserChanged()">
        <mat-option *ngFor="let user of users" [value]="user">
          {{user.code}}
        </mat-option>
      </mat-select>

      pour {{currentMonth?.name}}

      <mat-select [(ngModel)]="currentYear" (ngModelChange)="onCurrentYearChanged()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </h1>
  </div>
  <div class="month-total">
    <h1>
      {{getTotal() | duration}}
    </h1>
  </div>


</div>

<div class="months">
  <button mat-button color="{{getColor(month)}}" *ngFor="let month of months" routerLink="/prestations/{{user?.code}}/{{currentYear}}/{{month.index +1}}">
    {{month.name}}
  </button>
</div>

<div class="weeks">
  <mat-accordion *ngFor="let week of weeks" class="week">
    <div class="week-label">Semaine {{getWeekNumber(week)}}</div>
    <mat-expansion-panel *ngFor="let day of week.days">
      <mat-expansion-panel-header [class.is-current]="day.current">
        <mat-panel-title>
          {{day.name}} {{day.date | date:'dd'}}
        </mat-panel-title>
        <mat-panel-description>
          {{day.getTotalDuration() | duration}}
          <span *ngIf="day.getTotalDuration() === 0" title="Pas de prestations enregistrées pour ce jour">
            <mat-icon>warning</mat-icon>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-day-detail [day]="day" [user]="user"></app-day-detail>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>